*.asv
*.swp
*.pdf
*.rtf
*.png

issues/
atp-release/local/logfiles

# matlab/mathematica associations
*.fig
!movieplayer.fig
*.nb
*.mat

# user-defined
*.out

# dropbox associations
*.ini
.dropbox

# latex associations
*.gz
